@import "bootstrap-sprockets";
@import "bootstrap";

.web_content {
  margin-bottom: 20px;
}

/* header */
#logo {
  float: left;
  padding-top: 9px;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */
footer {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.form_for_user {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  h2 {
    text-align: center;
  }
  .field {
    margin-top: 10px;
  }
  .actions {
    margin-top: 20px;
  }
}

.list_products {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.product_details {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
}
