<div class="product_details">
  <h2>Product details</h2>
  <p>ID: <%= @product.id %></p>
  <p>Name: <%= @product.name %></p>
  <p>Price: <%= @product.price %></p>
  <p>Amount: <%= @product.amount %></p>
</div>
