<footer class="footer">
  <div class="container">
    <small class="pull-right">
      <ul>
        <li><%= link_to "Author", "https://www.facebook.com/trikm.bk56" %></li>
        <li><%= link_to "Help", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
      </ul>
    </small>
  </div>
</footer>
